@charset "utf-8";

/*kentät, paragrafit ja napit*/
input[type="text"]{
    color : blue;
}

input[type="number"]{
    color: blue;
    margin-top: 0px;
}

input[type="submit"]{
    font-weight : bold;
}

div{
    margin-bottom: 1em;
}

p{
    margin-bottom: 0px;
}

.nappi{
    margin-bottom: 1em;
}

/*taustaväri*/
body{
    background-color: yellow;
    font-size: 19px;
}

/*navigaatio*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff8000;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    font-size: 20px;
    font-weight : bold;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

li a:hover{
    background-color: #0000ff;
}

.active{
    background-color: #33cc33;
}

/*kielivalikko*/
#select_language{
    float: right;
}

/*teemavalikko*/
#select_theme{
    float: right;
    min-width: 77px;
    max-width: 77px;
    min-height: 19px;
    max-height: 19px;
    margin-right: 10px;
}

/*tulokset*/
#hakutulos{
    display: none;
}